.building-storeys {
  height: 100%;

  .content {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__tree,
  &__dms {
    flex-grow: 1;
    overflow-y: auto;
  }

  &__form {
    position: absolute;
    top: calc(var(--spacing-unit) * 2);
    left: 0;
    width: 100%;
  }

  &:deep(.bimdata-file-manager) {
    position: static;

    .bimdata-file-manager__pdf-page-selector {
      position: absolute;
      top: -12px;
      left: -12px;
      width: calc(100% + 24px);
      height: calc(100% + 24px);
    }
  }
}
