.overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--color-primary);
    opacity: 0.9;
  }

  .safe-zone {
    background-color: var(--color-white);
    border-radius: 10px;
    z-index: 1;
    &__icon {
      margin: auto;
      width: 40px;
      height: 40px;
      background-color: var(--color-high-lighter);
      border-radius: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &__title {
      text-align: center;
    }
    &__text {
      margin: calc(var(--spacing-unit) * 2) 0;
      color: var(--color-granite);
      text-align: center;
    }
    &__actions {
      gap: var(--spacing-unit);
      justify-content: center;
    }
  }
}
