.storey-form {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing-unit) * 2);
  padding: var(--spacing-unit);

  box-shadow: var(--box-shadow);
  background-color: var(--color-white);

  &__title {
    display: flex;
    align-items: center;
    gap: var(--spacing-unit);
  }

  &__input {
    width: 100%;
  }

  &__actions {
    display: flex;
    flex-direction: row-reverse;
    gap: var(--spacing-unit);
  }
}
