.storey-plans {
  &__item {
    position: relative;
    display: flex;
    align-items: center;
    gap: calc(var(--spacing-unit) / 2);
    margin-left: calc(var(--spacing-unit) / 2);
    padding: 0 calc(var(--spacing-unit) / 2);

    &::before {
      content: "";
      position: absolute;
      left: calc(0px - calc(var(--spacing-unit) / 2));
      width: calc(var(--spacing-unit) / 2);
      height: 1px;
      background-color: var(--color-granite-light);
    }

    &__name {
      width: 70%;
    }

    &__close-btn {
      margin-left: auto;
      margin-right: 2px;
    }
  }
}
