name: main

on:
  push:
    branches:
      - main
      - release
      - develop

permissions:
  contents: read

jobs:
  publish:
    permissions:
      contents: write
      issues: write
      pull-requests: write
      id-token: write
    # Use github runner instead of self-hosted as trusted publishing is only supported on github runners for now
    # https://docs.npmjs.com/trusted-publishers#limitations-and-future-improvements
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: "24"
          check-latest: true
      - run: npm install -g npm@latest
      - run: npm ci

      - name: Release
        run: npm run release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
